@model OdeToFood.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>All Bars</h1>
<table>
        @foreach (var snack in Model.Snacks)
        {
            <tr>
                <td>@snack.SnackType</td>
                <td>@snack.Flavor</td>
                <td>
                    @if(snack.SnackType == SnackType.Chip)
                      {
                        @Html.ActionLink("Details", "ChipDetails", new {id = snack.Id});
                      }
                    
                </td>
            </tr>
        }

</table>   
<a asp-action="VoteChip">Vote For A Chip</a>

@section footer{
    @Model.CurrentMessage
}